/* generics */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 208, 213);
}

img {
  width: 250px;
}

h1 {
  color: rgb(70, 115, 127);
  font-size: 45px;
}

#start {
  color: rgb(70, 115, 127);
  margin: 20px auto;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 25px;
  border: 2px solid rgb(70, 115, 127);
}

#start:hover {
  cursor: pointer;
  background-color: rgb(91, 149, 166);
  border-color: rgb(91, 149, 166);
  color: antiquewhite;
}

#numbers,
#not-matched {
  color: brown;
  text-align: center;
  font-size: 40px;
}
